<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Body:</strong>
  <p>
    <%= @topic.body %>
  </p>
</p>

<h2>Add a question:</h2>
<%= render 'questions/form' %>

<%= render @topic.questions %>


