<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @topic.body %>
</p>

<%= render @topic.questions %>

<h2>Add a question:</h2>
<%= render 'questions/form' %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
